/* Header Container */
.header {
  background-color: black;
  padding: 0.3125rem 0.625rem; /* Less space on the sides */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 88.75rem;
  margin: 0 auto;
}

/* Logo Styling */
.logo {
  height: 4.875rem; /* Increase logo size */
  object-fit: contain;
}

/* Button Container */
.header-buttons {
  display: flex;
  gap: 1.25rem; /* Space between buttons */
}

/* Button Styling */
.header-button {
  background: none;
  border: none;
  color: #fee2d5;
  font-size: 1.0625rem; /* Increase text size */
  cursor: pointer;
  padding: 0.5rem 0.9375rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.header-button:hover {
  color: #fee2d5; /* Slightly lighter beige for hover effect */
  transform: scale(1.1); /* Slight hover effect */
}

.header-button:focus {
  outline: none;
}
